[submodule "library/src/main/jni/aosp"]
	path = library/src/main/jni/aosp
	url = https://github.com/RohitVerma882/aapt2.git
[submodule "library/src/main/jni/protobuf"]
	path = library/src/main/jni/protobuf
	url = https://android.googlesource.com/platform/external/protobuf
